<%= form_for(@training_content) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <div class ="training_plan">
        
        <%= f.label :name, 'タイトル' %>
        <%= f.text_field :name, class: 'form-control' %>
        
        
        <%= f.label :content, '内容' %>
        <%= f.select :sports_type, ['特になし',
'陸上',
'水泳',
'体操',
'自転車',
'格闘技',
'テニス',
'サッカー',
'野球',
'ソフトボール',
'アメリカンフットボール',
'ラグビー',
'ゴルフ',
'ボーリング',
'ラクロス',
'卓球',
'バスケットボール',
'スキー',
'スノーボード',
'他のスポーツ'] ,{ include_blank: 'スポーツの種類を選択してください' }, class: 'form-control' %>

        <%= f.select :purpose, ['リハビリ',
'栄養管理',
'筋肉強化',
'コンディショニング調整',
'メンタルトレーニング',
'ダイエット',
'体重増量',
'コーチング',
'その他',
] ,{ include_blank: 'プランのカテゴリーを選択してください' }, class: 'form-control' %>
        
        
      <%= f.label :lengths, 'プランの日数を数字のみ記入してください' %>
      <div id ="lengths">
      <%= f.text_field :lengths, class: 'form-control' %>
      </div>

        <%= f.text_area :content, rows: "6", class: 'form-control', placeholder: "提供するサービスの概要を具体的に記入してください。自分のトレーニング方法を動画で公開したい場合は、YouTubeを利用し、URLを掲載してください。" %>
        
        
        <%= f.label :image, 'プランのイメージ写真を添付してください' %>
        <%= f.file_field :image , class: 'form-control' %>
        <%= f.hidden_field :image_cache %>
    
    </div>
    
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>