<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@trainer) do |f| %>
      <%= render 'shared/error_messages', object: f.object %> <!-- ここを追加 -->

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <div id = "age">
      <%= f.label :age %>
      <%= f.text_field :age, class:  'form-control' %>
      </div>
      
      <%= f.label :profile %>
      <%= f.text_area :profile, class: 'form-control', placeholder: "ご自身のスポーツ経歴や指導歴などご自由にお書きください。" %>
      
      <%= f.select :speciality, ['特になし',
'アスレチックトレーナー',
'栄養士',
'スポーツドクター',
'フィットネストレーナー',
'理学療法士',
'柔道整復師',
'アンママッサージ',
'スポーツプログラマー',
'ジュニアスポーツ指導員',
'その他の資格'] ,{ include_blank: '資格をお持ちでしたらを選択してください' }, class: 'form-control'%>
      
      <%= f.select :sports_type, ['陸上',
'水泳',
'体操',
'自転車',
'格闘技',
'テニス',
'サッカー',
'野球',
'ソフトボール',
'アメリカンフットボール',
'ラグビー',
'ゴルフ',
'ボーリング',
'ラクロス',
'卓球',
'バスケットボール',
'スキー',
'スノーボード',
'他のスポーツ'] ,{ include_blank: '専門としているスポーツがあれば選択してください' }, class: 'form-control' %>

      
      <%= f.select :place, ['北海道',
'青森県',
'岩手県',
'宮城県',
'秋田県',
'山形県',
'福島県',
'茨城県',
'栃木県',
'群馬県',
'埼玉県',
'千葉県',
'東京都',
'神奈川県',
'新潟県',
'富山県',
'石川県',
'福井県',
'山梨県',
'長野県',
'岐阜県',
'静岡県',
'愛知県',
'三重県',
'滋賀県',
'京都府',
'大阪府',
'兵庫県',
'奈良県',
'和歌山県',
'鳥取県',
'島根県',
'岡山県',
'広島県',
'山口県',
'徳島県',
'香川県',
'愛媛県',
'高知県',
'福岡県',
'佐賀県',
'長崎県',
'熊本県',
'大分県',
'宮崎県',
'鹿児島県',
'沖縄県'] ,{ include_blank: '出身地を選択してください' }, class: 'form-control' %>
      
      <p>※プロフィール写真の登録は<a href="https://ja.gravatar.com/" target=”_blank”>Gravatar</a>を利用します。Gravatarとは
      Webサービス共通のプロフィール写真を登録するサイトです。<a href="https://ja.gravatar.com/" target=”_blank”>こちら</a>からご登録をお願いいたします。
      </p>
      
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
      
    <% end %>
  </div>
</div>